:root {
  /* --button-font-size: 30px; */
  /* --bg-img: url('https://s21.ax1x.com/2025/03/24/pEBBVYt.jpg') */
  --bg-img: url('/src/assets/images/bg.jpg');
}

@font-face {
  font-family: 'mc-font';
  src: url('./font/mc-font2.ttf');
}

body,
div,
ul,
li,
img,
p,
a,
form,
input,
button,
textarea {
  display: block;
  margin: 0;
  border: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  cursor: default;
  font-family: 'mc-font';
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}

input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

/*滚动条样式*/
.y-scroll::-webkit-scrollbar {
  width: 10px;
}

.y-scroll::-webkit-scrollbar-thumb {
  /* border-radius: 10px; */
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}

.y-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  /* border-radius: 5px; */
  background: rgba(0, 0, 0, 0.1);
}

.y-scroll::-webkit-scrollbar-corner {
  border-radius: 5px;
}

/* 半透明背景样式 */
.translucent-bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: var(--bg-img);
  background-position: center;
  z-index: -1;
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(7px);
}

.translucent-content {
  font-family: 'mc-font';
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}

.translucent-content > .title {
  width: 100%;
  min-height: 75px;
  max-height: 75px;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 40px;
  display: flex;
}

.translucent-content .title p {
  margin: auto;
  user-select: none;
}

.translucent-content .main {
  background-color: rgba(0, 0, 0, 0.6);
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  flex-grow: 1;
  padding: 10px;
}

.translucent-content .main input {
  width: calc(100% - 20px);
  max-width: 800px;
  height: 70px;
  background-image: url(../assets/images/rainbow_pixel_gui/button_disabled.png);
  image-rendering: pixelated;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  font-family: 'mc-font';
  font-size: 25px;
  padding-left: 20px;
  color: #fff;
  margin: 10px auto;
}

/* 这俩一样的 */
.minecraft-input {
  width: calc(100% - 20px);
  max-width: 800px;
  height: 70px;
  background-image: url(../assets/images/rainbow_pixel_gui/button_disabled.png);
  image-rendering: pixelated;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  font-family: 'mc-font';
  font-size: 25px;
  padding-left: 20px;
  color: #fff;
  margin: 10px auto;
}

.translucent-content .end {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  max-height: 75px;
  min-height: 75px;
  padding: 10px;
}

.translucent-content .end .button {
  width: 400px;
  font-size: 30px;
  height: 70px;
}
